---
import SpecialPage from '../layouts/SpecialPage.astro';
---

<SpecialPage title="Page Not Found" eyebrow="404" dek="The page you're looking for doesn't exist (yet).">
  <p>Try the <a href="/">home page</a> or one of the <a href="/chapters/chapter-1/">chapters</a>.</p>
</SpecialPage>
